<h1>Жовтень 24/11</h1>
<img src="/images/under-light.jpg" alt=""/>
<h2>Апостола <b>Филипа</b> диякона,<br/>
Преподобного <b>Теофана Начертанного</b></h2>
<p class="remark">Православна Церква у цей день також відзначає<br/>
Собор преподобних <b>Оптинських отців</b>.</p>
<img src="/images/under-light.jpg" alt=""/>
<img src="/images/icona.jpg" alt="Теофан Начертанний" class="icon"/>
<p>Сергій і Вакх були знаменитими полководцями і дворянами цісаря Максиміліана, родом з Риму. Хоча цісар і дуже їх любив, однак, коли дізнався, що вони християни, не пожалів їх, а почав намовляти зректися християнства. Коли вони голосно прославляли Христа Спасителя, тоді цісар наказав позбавити їх всіх почестей, одягнути в жіноче вбрання і з ланцюгами на шиї водити по місту на сміх і сором. Потім відіслав їх до Варваліссо над Євфратом, де був відомий мучитель Антіох, який обом мученикам завдячував високим становищем.

Той наказав їх кинути до в'язниці, а на другий день, возвівши на судилищі, сказав св.Вакха простягнути на землі і бити так жорстоко, що серед тої муки, коли тіло було цілком пошматовано, а кров з нього сплила, святий мученик передав свою душу в руки Небесного Отця.

Другого дня наказав мучитель вбрати св.Сергія в ходаки, в яких набиті цвяхи, і вести за собою до Тетрапіргії, а звідти до Розафії, місто в Сирії, що лежить над Євфратом. Там вбили св.Сергія мечем.

Пам'ять святих мучеників перших століть була у великій пошані на сході, в Єгипті і на цілому Заході. За часів Константина Великого мощі св.Вакха були перенесені до Розафії і складені при мощах св.Сергія, а над їхнім гробом збудовано величезну святиню. З усіх сторін горнулись прочани до їх гробу, шукаючи допомоги і оздоровлення. Навіть погани мали в пошані свв.Сергія і Вакса місто Розафію перейменовано в Сергіополь. Коли перський король Хозрай І в 544р. взяв місто в облогу, жителі готові були віддати все, що мали, лиш би зберегти мощі святих, і Хозрай змушений був відступити , бо на мурах міста побачив величезне військо, на чолі якого було два мужі одягнених у світлу одіж верхи на білих конях.

Цісар Юстиніан Великий жертвував церкві в Сергіополі дорогоцінний хрест, а в Царгороді збудував величний храм в честь святих мучеників і до того храму перенесено голови свв.Сергія і Вакха.

Вони постраждали за Христа десь коло 295 року або в 305р.</p>
