<h2><%= t(:apostle) %> <%= @apostle.name %></h2>
<img src="/images/under-light.jpg" alt=""/>
<%= image_tag @apostle.avatar(:croped), :alt=>@apostle.name, :class=>"icon" %>
<p><%= @apostle.text %></p>
